@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de); }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000; }
  header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px; }
    header .logo:hover {
      color: #fab6cc; }
  header ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    header ul li {
      list-style: none;
      margin-left: 20px; }
      header ul li a {
        text-decoration: none;
        padding: 6px 15px;
        color: #fff;
        border-radius: 20px; }
        header ul li a:hover {
          background: #fff;
          color: #2b1055; }
      header ul li a.active {
        background: #fff;
        color: #2b1055; }

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center; }
  section::before {
    content: '';
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000; }
  section img {
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  section #moon {
    mix-blend-mode: screen; }
  section #fmount {
    z-index: 10; }
  section #text {
    position: absolute;
    right: -450px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9; }
  section #btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px); }

.text-area {
  position: relative;
  padding: 150px;
  background: #1c0522; }
  .text-area::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1c0522, #fab6cc);
    clip-path: circle(25% at 10% 10%); }
  .text-area h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    padding-top: 50px;
    color: #fff;
    text-align: center; }
    .text-area h1:hover {
      color: #fab6cc;
      cursor: pointer; }
  .text-area #bg-img {
    position: absolute;
    top: 55%;
    left: 66%;
    width: 37%;
    height: auto;
    mix-blend-mode: screen; }
  .text-area .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    cursor: pointer;
    flex-wrap: wrap;
    z-index: 1; }
    .text-area .container .card {
      position: relative;
      width: 300px;
      height: 400px;
      margin: 30px;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.1);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px sloid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px); }
      .text-area .container .card img {
        width: 100px;
        height: auto;
        margin: 10px;
        z-index: 1; }
    .text-area .container .content {
      padding: 20px;
      text-align: center;
      transition: 0.5s; }
      .text-area .container .content h3 {
        font-size: 1.8em;
        color: #fff;
        z-index: 1; }
      .text-area .container .content p {
        font-size: 1em;
        color: #ffff;
        font-weight: 200;
        padding: 0 8px; }
      .text-area .container .content a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        color: #2b1055;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.work-area {
  background: #1c0522;
  padding: 100px; }
  .work-area h2 {
    text-align: center;
    color: #fff;
    font-size: 3.8em;
    font-weight: 500; }
  .work-area h4 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding-bottom: 50px; }
  .work-area img {
    margin: 20px 0;
    width: 100%;
    height: auto;
    transition: 0.5s;
    cursor: pointer; }
    .work-area img:hover {
      transform: translateY(-30px); }
