@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

///font-family: 'Nunito', sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 10000;
    .logo{
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover{
            color: #fab6cc;
        }
        // img{
        //     width: 120px;
        //     height: auto;
        // }
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            list-style: none;
            margin-left: 20px;
            a{
                text-decoration: none;
                padding: 6px 15px;
                color: #fff;
                border-radius: 20px;
               &:hover{
                    background: #fff;
                    color: #2b1055;
                }
            }
            a.active{
                background: #fff;
                color: #2b1055;
            }
        }
    }
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    &::before{
        content: '';
        position: absolute;
        bottom: 0%;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top,#1c0522,transparent);
        z-index: 1000;
    }
    img{
        pointer-events: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #moon{
        mix-blend-mode: screen;
    }
    #fmount{
        z-index: 10;
    }
    #text{
        position: absolute;
        right: -450px;
        color: #fff;
        white-space: nowrap;
        font-size: 7.5vw;
        z-index: 9;
       
    }
    #btn{
        text-decoration: none;
        display: inline-block;
        padding: 8px 30px;
        border-radius: 40px;
        background: #fff;
        color: #2b1055;
        font-size: 1.5em;
        z-index: 9;
        transform: translateY(100px);
    }
}
.text-area{
    position: relative;
    padding: 150px;
    background: #1c0522;
    &::after{
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(#1c0522,#fab6cc);
        clip-path: circle(25% at 10% 10%);
    }
    h1{
        font-size: 3.5em;
        margin-bottom: 10px;
        padding-top: 50px;
        color: #fff;
        text-align: center;
        &:hover{
            color: #fab6cc;
            cursor: pointer;
        }
    }
    #bg-img{
        position: absolute;
        top: 55%;
        left: 66%;
        width: 37%;
        height: auto;
        mix-blend-mode: screen;
    }
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1600px;
        cursor: pointer;
        flex-wrap: wrap;
        z-index: 1;
        .card{
            position: relative;
            width: 300px;
            height: 400px;
            margin: 30px;
            box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
            border-radius: 15px;
            background: rgba(255,255,255,0.1);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px sloid rgba(255,255,255,0.5);
            border-left: 1px solid rgba(255,255,255, 0.5);
            backdrop-filter: blur(5px);
            img{
                width: 100px;
                height: auto;
                margin: 10px;
                z-index: 1;
            }
        }
        .content{
            padding: 20px;
            text-align: center;
            transition: 0.5s;
            // h2{
            //     position: absolute;
            //     top: -5px;
            //     right: 28px;
            //     font-size: 3em;
            //     color: rgba(255, 255, 255, 0.335);
            //     pointer-events: none;
            // }
            h3{
                font-size: 1.8em;
                color: #fff;
                z-index: 1;
            }
            p{
                font-size: 1em;
                color: #ffff;
                font-weight: 200;
                padding: 0 8px;
            }
            a{
                position: relative;
                display: inline-block;
                padding: 8px 20px;
                margin-top: 10px;
                margin-bottom: 10px;
                background: #fff;
                border-radius: 20px;
                text-decoration: none;
                font-weight: 500;
                color: #2b1055;
                box-shadow: 0 5px 15px rgba(0,0,0,0.5);
            }
        }
    }
}

.work-area{
    background:#1c0522;
    padding: 100px;
    h2{
        text-align: center;
        color: #fff;
        font-size: 3.8em;
        font-weight: 500;
    }
    h4{
        text-align: center;
        color: #fff;
        font-weight: 400;
        padding-bottom: 50px;
    }
    img{
        padding: 20px;
        margin: 20px 0;
        width: 100%;
        height: auto;
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            transform: translateY(-30px);
        }
    }
}

// contact-area
.contact-area{
    background: #1c0522;
    padding: 100px;
    cursor: pointer;
        .section-title{
            text-align: center;
            padding: 40px;
            h2{
                color: #fff;
                padding-bottom: 15px;
            }
            p{
                color: #fff;
            }
        }
    input{
        background: transparent;
        outline: none;
        overflow: hidden;
    }
    textarea{
        background: transparent;
        outline: none;
        overflow: hidden;
    }
    .form-footer{
        margin-top: 20px;
        input{
            color: #fff;
            border: 1px solid #fff;
            padding: 10px 15px;
            border-radius: 5px;
            &:hover{
                background: #2b1055;
            }
        }
    }
}
.footer-area{
    background: #1c0522;
    padding: 80px 0;
    h5{
        color: #fff;
        padding: 15px 0;
    }
    h6{
        font-weight: bold;
    }
    h4{
        color: #fff;
    }
    span{
        color: #fff;
        cursor: pointer;
        font-size: 30px;
        .fab{
            color: #fff;
        }
        a{
            text-decoration: none;
            padding: 15px 20px;
        }
    }
}
.top-arrow{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    background: #7597de;
    padding: 0px 15px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
    &:hover{
        background: #2b1055;
        cursor: pointer;
        }
    i{
    color: #fff;
    font-size: 25px;
    padding-top: 4px;
    }
    p{
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding-bottom: 0px;
    }

}
.copy-right{
    text-align: center;
    background: #1c0522;
    padding: 10px 0;
    span{
        color: #fff;
    }
}